*~
__pycache__
dist
ripio.egg-info
repo.conf
test/*_CREDENTIALS
.noseids
nosetests.xml
.vscode/.ropeproject/
.pybuild
build
debian/.debhelper
debian/files
debian/ripio
debian/debhelper-build-stamp
debian/ripio.debhelper.log
debian/ripio.substvars
