Source: ripio
Section: utils
Priority: optional
Maintainer: David Villa Alises <David.Villa@gmail.com>
Homepage: https://bitbucket.org/DavidVilla/ripio
Build-Depends: debhelper (>= 11), python3, python3-setuptools, dh-python, python3-git
Standards-Version: 4.5.0

Package: ripio
Architecture: all
Depends: ${misc:Depends}, python3:any, python3-git, python3-toml
Description: Manage hosted git repositories
 Manage git repositories hosted at bitbucket.org and github.com from command
 line. Run 'ripio --help' or visit https://bitbucket.org/DavidVilla/ripio.
